<h1 style="
    text-align: center;
    font-family: Arial, helvetica;
">
Confirmar tu cuenta</h1>

<p style="font-family: Arial, helvetica;">Hola, estás a un paso de comenzar a crear una comunidad en Meeti, 
solo debes confirmar tu cuenta en el sihuiente enlase:</p>

<a style="
    display: block;
    font-family: Arial, helvetica;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; 
    " href="<%= url %>" >Confirmar tu cuenta</a>

<p style="font-family: Arial, helvetica;">Si no puedes acceder al enlace, visita: <%= url %></p>

<p style="font-family: Arial, helvetica;">Si no solicitaste este email, puedes ignorarlo</p>